$accentColor = #36b1bf
$borderColor = #eaecef
$codeBgColor = #282c34

.navbar .site-name {
  font-size: 32px;
}

.site-name:first-letter {
  color: #36b1bf;
}

.navbar {
  border: none;
  padding-left: 50px;
}

.home .hero {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  text-align: left;
}

#main-title:first-letter {
  color: #36b1bf;
  text-decoration: underline;
  font-style: italic;
}

.footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  margin: 15px 0;
  border: 1px solid #eee;
}

.container .source {
  padding: 24px;
}

.container .source .icon-demo i {
  font-size: 24px;
  margin: 0 20px;
}

.theme-default-content:not(.custom) a:hover {
  text-decoration: none;
}

.container .source .o-input {
  width: 180px;
}

table {
  font-size: 14px;
}